*{
  padding:0;
  margin:0;
}
/* ----------------------------------------------- */
/* ---------- Specifications for Mobile ---------- */
/* ----------------------------------------------- */

/* ----- Background image: astronaut | Mobile ----- */
/* ------------------------------------------------ */
  .astronaut {
    background-image: url("/images/astronaut.jpg");
    background-size: cover; 
    background-position: 50% 45%;
    background-attachment: scroll;
    min-height: 100vh;
  }
  /* ----- Navigation | Background image: astronaut | Mobile ----- */
  .navigation {
    border: 1px solid red;
    position: absolute;
    width: 100%
  }
  .navigation .button-navigation {
    border: 1px solid red;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    position: absolute;
  }
  .navigation .checkbox-navigation {
    border: 1px solid red;
    display: none;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
  }
  .button-navigation .topline-button-navigation, .middleline-button-navigation, .bottomline-button-navigation {
    position: relative;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  /* ----- Box | Background image: astronaut | Mobile ----- */
  .astronaut .box {
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid black;
    padding-top: 42vw; 
    width: 38vw;
    top: 9vh;
    left: 13vw;
    position: absolute;
  }
  /* ----- "TO THE MOON" | Box | Background image: astronaut | Mobile ----- */
  .astronaut .box .tothemoon-box {
    font-family: 'Rubik', sans-serif;
    font-size: 9vw;
    font-weight: 700;  
    text-align: center;
    text-transform: uppercase;
    top: 6%;
    bottom: 20%;
    left: 15%;
    right: 15%;
    position: absolute;
  }
  /* ----- "Read our story" | Box | Background image: astronaut | Mobile ----- */
  .astronaut .box .readourstory-box {
    font-family: 'Rubik', sans-serif;
    font-size: 2.7vw;
    font-weight: 500;
    bottom: 2.5%;   
    left: 5%;  
    position: absolute;
  }
  /* ----- Arrow | Box | Background image: astronaut | Mobile ----- */
  .astronaut .box .readourstory-box .arrow-readourstory-box {
    font-family: 'Fira Code', 'Rubik', sans-serif;
    font-size: 3.2vw;
    font-weight: Retina;
    display: inline-block;
    left: 3%;
    padding-top: 10;
    position: relative;
  }
  /* ----- Animation | Arrow | Box | Background image: astronaut | Mobile ----- */
  .readourstory-box:hover .arrow-readourstory-box {
    animation-direction: normal;
    animation-duration: 1.0s;
    animation-name: astronaut-arrow-slide-left;
    animation-fill-mode: forwards;
  }
  @keyframes astronaut-arrow-slide-left {
    from {
      left: 3%;
    }
    to {
      left: 9%;
    }
  }
  /* ----- Vertical arrow | Background image: astronaut | Mobile ----- */
  .astronaut .verticalarrow {
    color: whitesmoke;
    font-family: 'Fira Code', 'Rubik', sans-serif;
    font-weight: Retina;
    font-size: 9vw;
    left: 50%;
    right: 50%;
    bottom: 3%;
    transform: rotate(90deg);
    position: absolute; 
  }

  /* ----- Background image: space | Mobile ----- */
  /* -------------------------------------------- */
  .space {
    background-image: url("/images/mobile-space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    position: absolute;
    } 
  /* ----- Flexbox | Background image: space | Mobile ----- */
  .space .text { /*- The article element serves as the centered flexbox in mobile mobile -*/
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Rubik', sans-serif;
    font-size: 2.35vw;
    font-weight: 300;
    line-height: clamp(0.8rem, 1.2rem, 1.8rem);
  } /*-- 2.36 --*/
  /* ----- Logo | Background image: space | Mobile ----- */  
  .text .logo-text {
    height: 10%;
    width: 10%;
    position: relative;
    z-index: 0;
  }
  .logo-text .space-logo-text {
    font-family: 'Rubik', sans-serif;
    font-size: 14vw;
    font-weight: bold;
    color: white;
    left: 2%;
    position: relative;
    z-index: 2;
  }
  .logo-text .ventures-logo-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18vw;
    left: 20%;
    font-weight: bold;
    color: gray;
    position: relative;
    z-index: 1;
    left: 20%
  }
  /* ----- Heading | Background image: space | Mobile ----- */
  .text .heading-text {
    font-size: 5vw;
    position: relative;
    margin-top: 15%;
  }
  /* ----- Text (Section before quote) | Background image: space | Mobile ----- */
  .text .p1-text {
    margin-top: 2%;
    position: relative;
  }
  .text .p2-text {
    position: relative;
    margin-top: 2%;
  }
  /* ----- Universal quote | Background image: space | Mobile ----- */
  .text .quote-text {
    font-style: italic;
    font-size: 3.8vw;
    font-weight: lighter;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 6vw;
    margin-right: 2vw;
    quotes: auto;
    line-height: clamp(1.2rem, 1.4rem, 1.6rem);

  }
  /* ----- Quotation marks | Universal quote | Background image: space | Mobile ----- */
  .quote-text::before {
    content: open-quote;
  }
  .quote-text::after {
    content: close-quote;
  }
  /* ----- Desktop quote | Background image: space | Mobile ----- */
  .desktop-quote-text { /* -This quote is only displayed in desktop mode- */
    display: none;
  }
  /* ----- Text (Section after quote) | Background image: space | Mobile ----- */
  .space .text .p3-text {
    margin-top: 0.5vh;
    position: relative;
  }
  .space .text .p4-text {
    margin-top: 0.5vh;
    position: relative;
  }
  .major-tom {
    display: none;
  }
  .space .text .p5-text {
    margin-top: 0.5vh;
    position: relative;
  }
  .space .text .p6-text {
    position: relative;
    margin-top: 0.5vh;
  }
  .space .text .p7-text {
    margin-top: 0.5vh;
    position: relative;
  }
  /* ----- Link | Background image: space | Mobile ----- */
  .space .text .link-text {
    color: rgb(255, 17, 227);
    text-decoration: underline;
    margin-top: 0.5vh;
    position: relative;
  }
  /* ----- Arrow | Link | Background image: space | Mobile ----- */
  .space .text .link-text .arrow-link-text {
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5%;
    position: relative;
    font-family: 'Fira Code', 'Rubik', sans-serif;
    font-weight: Retina;
  }
  /* ----- Animation | Arrow | Link | Background image: space | Mobile ----- */
  .link-text:hover .arrow-link-text {
    animation-direction: normal;
    animation-duration: 1.0s;
    animation-name: space-arrow-slide-left;
    animation-fill-mode: forwards;
  }
  @keyframes space-arrow-slide-left {
    from {
      margin-left: 0.5%;
    }
    to {
      margin-left: 3.0%;
    }
  }
  /* ----- Cookies | Background image: space | Mobile ----- */
  .checkbox-cookies, .message-cookies, .bar-cookies, .close-cookies {/* -This is only displayed in desktop mode- */
    display: none;
  }

  /* ------------------------------------------------------------------- */
  /* ---------- Specifications for Desktop / Landscape Tablet ---------- */
  /* ------------------------------------------------------------------- */
  @media only screen and (min-width: 768px) {
    /* ----- Background image: astronaut | Desktop / Landscape Tablet ----- */
    /* -------------------------------------------------------------------- */
    .astronaut { 
      background-position: 50% 48%;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100vw;
    } 
    /* ----- Navigation | Background image: astronaut | Desktop / Landscape Tablet ----- */

    
    /* ----- Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box {
      border: 5px solid black;
      padding-top: 30vw;
      width: 30vw;
      top: 10vh;
      left: 7vw;
    }
    /* ----- "TO THE MOON" | Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box .tothemoon-box {
      font-size: 7vw;
      top: 18%;
      bottom: 28%;
      left: 6%;
      right: 6%;
    }
    /* ----- "Read our story" | Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box .readourstory-box {
      font-size: 1.2vw;
      bottom: 4%;   
      left: 62%;  
    }
    /* ----- Arrow | Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box .readourstory-box .arrow-readourstory-box {
      display: inline-block;
      font-size: 1.2vw;
      left: 3%;
    }
    /* ----- Vertical arrow | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .verticalarrow {
      font-size: 7vw;
    }
    /* ----- Background image: space | Desktop / Landscape Tablet ----- */
    /* ---------------------------------------------------------------- */
    .space {
      background-image: url("/images/desktop-space.jpg"); 
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll;
      position: absolute;
      height: 100vh;
      width: 100vw;
    } 
    /* ----- Flexbox containing Flexbox Left and Flexbox Right | Background image: space | Desktop / Landscape Tablet ----- */
    .space .text {
      display: flex;
      position: absolute;
      flex-direction: row;
      color: whitesmoke;
      height: 80%;
      width: 90%;
      margin-top: 5%;
      margin-bottom: 15%;
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'Rubik', sans-serif;
    }
    /* ----- Flexbox Left | Background image: space | Desktop / Landscape Tablet ----- */
    .space .text .flexboxleft { 
      display: flex;
      flex-direction: column;
      float: left;
      order: 1;
      top: 0;
      left: 0;
      height: 100%; 
      width: 40%;
      position: absolute;
    }
    /* ----- Flexbox Right | Background image: space | Desktop / Landscape Tablet ----- */
    .space .text .flexboxright {
      display: flex;
      flex-direction: column;
      float: right;
      top:0;
      right: 0;
      height: 100%; 
      width: 40%;
      position: absolute;
      order: 2;
    }
    .text .flexboxleft .logo-text {
      z-index: 0;
      top: 0%;
      left: 0%;
      height: 12%;
      width: 100%;
      position: relative;
      z-index: 0;
    }
    .flexboxleft .logo-text .space-logo-text {
      font-size: 7vw;
      top: 0;
      left: 0;
      position: relative;
    }
    .flexboxleft .logo-text .ventures-logo-text {
      font-family: 'Times New Roman', Times, serif;
      font-size: 9.4vw;
      left: 0%;
      position: relative;
    }
    /* ----- Heading | Background image: space | Desktop / Landscape Tablet ----- */
    .flexboxleft .heading-text {
      font-size: 2.2vw;
      margin-top: 18%;
      position: relative;
    }
    /* ----- Text (Section before quote) | Background image: space | Desktop / Landscape Tablet ----- */
    .flexboxleft .p1-text {
      margin-top: 4%;
      line-height: clamp(2.2vh, 2.6vh, 3vh);
      font-size: 1.1vw;
    }
    .flexboxleft .p2-text {
      font-size: 1.1vw;
      line-height: clamp(2.2vh, 2.6vh, 3vh);
      margin-top: 3%;
    }
    /* ----- Universal quote | Background image: space | Desktop / Landscape Tablet ----- */
    .flexboxleft .quote-text {
      font-style: italic;
      line-height: clamp(2rem, 3rem, 4rem);
      font-size: 1.8vw;
      font-weight: lighter;
      margin-top: 12%;
      margin-right: 0%;
      margin-left: 6%;
      quotes: auto;
    }
    /* ----- Quotation marks | Universal quote | Background image: space | Desktop / Landscape Tablet ----- */
    .quote-text::before {
      content: open-quote;
    }
    .quote-text::after {
      content: close-quote;
    }
    /* ----- Desktop quote | Background image: space | Desktop / Landscape Tablet ----- */
    .flexboxright .desktop-quote-text { /* -This quote is only displayed in desktop mode- */
      font-style: italic;
      font-size: 2.8vw;
      font-weight: 400;
      display: block;
      width: 75%;
      margin-top: 10%;
      margin-bottom: 10%;
      position: relative;
      line-height: clamp(4vh, 5vh, 6vh);
      opacity: 99%;
      background: -webkit-repeating-linear-gradient(95deg, rgb(121, 45, 97), rgb(121, 105, 113)
      69%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    /* ----- Text (Section after quote) | Background image: space | Desktop / Landscape Tablet ----- */
    .flexboxright .p3-text {
      line-height: clamp(2.2vh, 2.6vh, 3vh);
      font-size: 1.1vw;
      position: relative;
      border: 2px red;

    }
    .flexboxright .p4-text {
      line-height: clamp(2.2vh, 2.6vh, 3vh);
      font-size: 1.1vw;
      position: relative;
      border: 2px red;

    }
    .flexboxright .major-tom {
      display: block;
      background-image: url("/images/major_tom.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      text-align: center;
      border: 2px red;
      width: 100px;
      height: 300px;
      right: 1px;

    }
    .flexboxright .p5-text {
      line-height: clamp(3vh, 4vh, 5vh);
      font-size: 1.1vw;
      position: relative;
    }
    .flexboxright .p6-text {
      line-height: clamp(3vh, 4vh, 5vh);
      font-size: 1.1vw;
      position: relative;
    }
    .flexboxright .p7-text {
      line-height: clamp(3vh, 4vh, 5vh);
      font-size: 1.1vw;
      position: relative;
    }
    /* ----- Link | Background image: space | Desktop / Landscape Tablet ----- */
    .flexboxright .link-text {
      color: rgb(206, 50, 188);
      text-decoration: underline;
      line-height: clamp(2vh, 2.2vh, 2.4vh);
      font-size: 1.1vw;
      position: relative;
    }
    /* ----- Arrow | Link | Background image: space | Desktop / Landscape Tablet ----- */
    .flexboxright .link-text .arrow-link-text {
      text-decoration: none;
      display: inline-block;
      margin-left: 0.5%;
      position: relative;
      font-family: 'Fira Code', 'Rubik', sans-serif;
      font-weight: Retina;
    }
    /* ----- Animation | Arrow | Link | Background image: space | Desktop / Landscape Tablet ----- */
    .link-text:hover .arrow-link-text {
      animation-direction: normal;
      animation-duration: 1.0s;
      animation-name: space-arrow-slide-left;
      animation-fill-mode: forwards;
    }
    @keyframes space-arrow-slide-left {
      from {
        margin-left: 0.5%;
      }
      to {
        margin-left: 3.0%;
      }
    }
    /* ----- Cookies | Background image: space | Desktop / Landscape Tablet ----- */
    .space .bar-cookies {/* -This is only displayed in desktop mode- */
      width: 100%;
      background-color: rgb(1, 1, 39);
      height: 7%;
      bottom: 0%;
      right: 0%; 
      left: 0%;
      position: fixed;
      display: block;
    }
    /* ----- Text | Cookies | Background image: space | Desktop / Landscape Tablet ----- */
    .bar-cookies .message-cookies {/* -This is only displayed in desktop mode- */
      font-family: 'Rubik', sans-serif;
      font-size: 1.1vw;
      font-weight: bold;
      left: 2%;
      top: 34%;
      position: relative;
      color: rgb(206, 50, 188);;
      display: inline-block;
      line-height: 100%;
    }
    /* ----- Button | Cookies | Background image: space | Desktop / Landscape Tablet ----- */
    #checkbox-cookies {/* -This is only displayed in desktop mode- */
      display: none;
    } 
    input[id='checkbox-cookies']:checked ~ .bar-cookies {
      transform: translateY(100%);
      transition-duration: 1s;
    }
    .bar-cookies .close-cookies {/* -This is only displayed in desktop mode- */
      top: 20%;
      right: 2%;
      padding: 10px;
      position: absolute;
      color: white;
      font-family: 'Rubik', sans-serif;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 90%;
      background-color: rgb(26, 26, 184);
      text-align: center;
    }
  }







  
  
