*{
  padding:0;
  margin:0;
}
/* ----------------------------------------------- */
/* ---------- Specifications for Mobile ---------- */
/* ----------------------------------------------- */

/* ----- Background image: astronaut | Mobile ----- */
/* ------------------------------------------------ */
  .astronaut {
    background-image: url("/images/astronaut.jpg");
    background-size: cover; 
    background-position: 50% 45%;
    background-attachment: scroll;
    min-height: 100vh;
  }
/* ----- Navigation | Background image: astronaut | Mobile ----- */
  .navigation {
    border: 1px solid red;
    position: absolute;
    width: 100%
  }
  .navigation .button-navigation {
    border: 1px solid red;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    position: absolute;
  }
  .navigation .checkbox-navigation {
    border: 1px solid red;
    display: none;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
  }
  .button-navigation .topline-button-navigation, .middleline-button-navigation, .bottomline-button-navigation {
    position: relative;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  /* ----- Box | Background image: astronaut | Mobile ----- */
  .astronaut .box {
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid black;
    padding-top: 42vw; 
    width: 38vw;
    top: 9vh;
    left: 13vw;
    position: absolute;
  }
  /* ----- "TO THE MOON" | Box | Background image: astronaut | Mobile ----- */
  .astronaut .box .tothemoon-box {
    font-family: 'Rubik', sans-serif;
    font-size: 9vw;
    font-weight: 700;  
    text-align: center;
    text-transform: uppercase;
    top: 6%;
    bottom: 20%;
    left: 15%;
    right: 15%;
    position: absolute;
  }
  /* ----- "Read our story" | Box | Background image: astronaut | Mobile ----- */
  .astronaut .box .readourstory-box {
    font-family: 'Rubik', sans-serif;
    font-size: 2.7vw;
    font-weight: 500;
    bottom: 2.5%;   
    left: 5%;  
    position: absolute;
  }
  /* ----- Arrow | Box | Background image: astronaut | Mobile ----- */
  .astronaut .box .readourstory-box .arrow-readourstory-box {
    font-family: 'Fira Code', 'Rubik', sans-serif;
    font-size: 3.2vw;
    font-weight: Retina;
    display: inline-block;
    left: 3%;
    padding-top: 10;
    position: relative;
  }
  /* ----- Animation | Arrow | Box | Background image: astronaut | Mobile ----- */
  .readourstory-box:hover .arrow-readourstory-box {
    animation-direction: normal;
    animation-duration: 1.0s;
    animation-name: astronaut-arrow-slide-left;
    animation-fill-mode: forwards;
  }
  @keyframes astronaut-arrow-slide-left {
    from {
      left: 3%;
    }
    to {
      left: 9%;
    }
  }
  /* ----- Vertical arrow | Background image: astronaut | Mobile ----- */
  .astronaut .verticalarrow {
    color: whitesmoke;
    font-family: 'Fira Code', 'Rubik', sans-serif;
    font-weight: Retina;
    font-size: 9vw;
    left: 50%;
    right: 50%;
    bottom: 3%;
    transform: rotate(90deg);
    position: absolute; 
  }

  /* ----- Background image: space | Mobile ----- */
  /* -------------------------------------------- */
  .space {
    background-image: url("/images/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    position: absolute;
    } 
  /* ----- !Flexbox! | Background image: space | Mobile ----- */
  .space .text {
    display: flexbox;
    border: 1px solid red;
    color: whitesmoke;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Rubik', sans-serif;
    font-size: 2.36vw;
    font-weight: 300;
    line-height: 2vh;
  }
  /* ----- Logo | Background image: space | Mobile ----- */  
  .space .text .logo-text {
    border: 1px solid red;
    height: 10vh;
    width: 70vw;
    margin-right: 10vw;
    margin-top: 10vh;
    position: relative;
    z-index: 0;
  }
  .space .text .logo-text .space-logo-text {
    border: 1px solid red;
    font-family: 'Rubik', sans-serif;
    font-size: 12vw;
    font-weight: bold;
    color: white;
    margin-left: 2vw;
    position: relative;
    z-index: 2;
  }
  .space .text .logo-text .ventures-logo-text {
    border: 1px solid red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16vw;
    font-weight: bold;
    color: gray;
    position: relative;
    margin-left: 13vw;
    z-index: 1;
  }
  /* ----- Heading | Background image: space | Mobile ----- */
  .space .text .heading-text {
    border: 1px solid red;
    font-size: 4.8vw;
    position: relative;
    margin-top: 4vh;
  }
  /* ----- Text (Section before quote) | Background image: space | Mobile ----- */
  .space .text .p1-text {
    border: 1px solid red;
    color: white;
    margin-top: 2vh;
    position: relative;
  }
  .space .text .p2-text {
    border: 1px solid red;
    position: relative;
    margin-top: 1vh;
  }
  /* ----- Universal quote | Background image: space | Mobile ----- */
  .space .text .quote-text {
    border: 1px solid red;
    font-style: italic;
    font-size: 3.8vw;
    font-weight: lighter;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 6vw;
    margin-right: 2vw;
    quotes: auto;
  }
  /* ----- Quotation marks | Universal quote | Background image: space | Mobile ----- */
  .quote-text::before {
    content: open-quote;
  }
  .quote-text::after {
    content: close-quote;
  }
  /* ----- Desktop quote | Background image: space | Mobile ----- */
  .desktop-quote-text { /* -This quote is only displayed in desktop mode- */
    display: none;
  }
  /* ----- Text (Section after quote) | Background image: space | Mobile ----- */
  .space .text .p3-text {
    border: 1px solid red;
    margin-top: 0.5vh;
    position: relative;
  }
  .space .text .p4-text {
    border: 1px solid red;
    margin-top: 0.5vh;
    position: relative;
  }
  .space .text .p5-text {
    border: 1px solid red;
    margin-top: 0.5vh;
    position: relative;
  }
  .space .text .p6-text {
    border: 1px solid red;
    position: relative;
    margin-top: 0.5vh;
  }
  .space .text .p7-text {
    border: 1px solid red;
    margin-top: 0.5vh;
    position: relative;
  }
  /* ----- Link | Background image: space | Mobile ----- */
  .space .text .link-text {
    color: rgb(255, 17, 227);
    text-decoration: underline;
    margin-top: 0.5vh;
    border: 1px solid red;
    position: relative;
  }
  /* ----- Arrow | Link | Background image: space | Mobile ----- */
  .space .text .link-text .arrow-link-text {
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5%;
    position: relative;
    font-family: 'Fira Code', 'Rubik', sans-serif;
    font-weight: Retina;
  }
  /* ----- Animation | Arrow | Link | Background image: space | Mobile ----- */
  .link-text:hover .arrow-link-text {
    animation-direction: normal;
    animation-duration: 1.0s;
    animation-name: space-arrow-slide-left;
    animation-fill-mode: forwards;
  }
  @keyframes space-arrow-slide-left {
    from {
      margin-left: 0.5%;
    }
    to {
      margin-left: 3.0%;
    }
  }
  /* ----- Cookies | Background image: space | Mobile ----- */
  .space .cookies {/* -This is only displayed in desktop mode- */
    display: none;
  }
  /* ----- Text | Cookies | Background image: space | Mobile ----- */
  .space .cookies .text-cookies {/* -This is only displayed in desktop mode- */
    display: none;
  }
  /* ----- Button | Cookies | Background image: space | Mobile ----- */
  .space .cookies .accept-cookies {/* -This is only displayed in desktop mode- */
    display: none;
  }

  /* ------------------------------------------------------------------- */
  /* ---------- Specifications for Desktop / Landscape Tablet ---------- */
  /* ------------------------------------------------------------------- */

  @media screen and (min-width: 768px) {
    /* ----- Background image: astronaut | Desktop / Landscape Tablet ----- */
    /* -------------------------------------------------------------------- */
    .astronaut { 
      background-position: 50% 48%;
      background-repeat: no-repeat;
    } 
    /* ----- Navigation | Background image: astronaut | Desktop / Landscape Tablet ----- */

    
    /* ----- Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box {
      border: 5px solid black;
      padding-top: 30vw;
      width: 30vw;
      top: 10vh;
      left: 7vw;
    }
    /* ----- "TO THE MOON" | Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box .tothemoon-box {
      font-size: 7vw;
      top: 18%;
      bottom: 28%;
      left: 6%;
      right: 6%;
    }
    /* ----- "Read our story" | Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box .readourstory-box {
      font-size: 1.2vw;
      bottom: 4%;   
      left: 62%;  
    }
    /* ----- Arrow | Box | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .box .readourstory-box .arrow-readourstory-box {
      display: inline-block;
      font-size: 1.2vw;
      left: 3%;
    }
    /* ----- Vertical arrow | Background image: astronaut | Desktop / Landscape Tablet ----- */
    .astronaut .verticalarrow {
      font-size: 7vw;
    }

  /* ----- Background image: space | Desktop / Landscape Tablet ----- */
  /* ---------------------------------------------------------------- */
  
  /* ----- Logo | Background image: space | Desktop / Landscape Tablet ----- */
  /* ----- Heading | Background image: space | Desktop ----- */
  /* ----- Text (Section before quote)| Background image: space | Desktop / Landscape Tablet ----- */
  /* ----- Universal quote | Background image: space | Desktop / Landscape Tablet ----- */
  /* ----- Desktop quote | Background image: space | Desktop / Landscape Tablet ----- */
  /* ----- Text (Section after quote)| Background image: space | Desktop / Landscape Tablet ----- */
  /* ----- Major Tom | Background image: space | Desktop / Landscape Tablet ----- */
  /* ----- Link | Background image: space | Mobile / Landscape Tablet ----- */
  /* ----- Animation | Link | Background image: space | Mobile / Landscape Tablet ----- */
  /* ----- Cookies | Background image: space | Desktop / Landscape Tablet ----- */
  }















  
  
